<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>albumServlet</servlet-name>
        <servlet-class>controller.albumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>albumServlet</servlet-name>
        <url-pattern>/albumServlet</url-pattern>
    </servlet-mapping>
    <display-name>Music House</display-name>
 
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/musichouse</param-value>
    </context-param>
 
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
 
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>sang12529</param-value>
    </context-param>
 
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
